<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>

      <div class="hero-wrap hero-bread" style="background-image: url('/public/images/bg_6.jpg');">
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Crear</span></p>
              <h1 class="mb-0 bread">Crear producto</h1>
            </div>
          </div>
        </div>
      </div>
      <section class="ftco-section contact-section bg-light">
      <!--Imprimo errores-->
      <% if (typeof errors != 'undefined') { %>
      <ul class=""list-unstyled text-danger>
        <% errors.forEach(error => { %>
        <li><%=error.msg %></li>
        <% }) %>
      </ul>
      <% } %>

      <div class="row block-9">
        <div class="col-md-6 order-md-last d-flex">
      <form action="/admin/productos" method="post" enctype="multipart/form-data" class="bg-white p-5 contact-form">
        <div class="form-group">
            <label for="nombre" >Nombre:</label>
            <input type="text"  id="nombre" name="nombre" class="form-control" value="<%= typeof values != 'undefined' ? values.nombre : '' %>" required minlength="3">
        </div>
        <div class="form-group">
          <label for="precio" >Precio:</label>
          <input type="number"  id="precio" name="precio" class="form-control" value="<%= typeof values != 'undefined' ? values.precio : '' %>" required min="1" pattern="">
        </div>
        <div class="form-group">
            <label for="imagen" >Imagen:</label>
            <input type="file"  id="imagen" name="imagen" class="form-control" accept="image/webp, image/png, image/jpg, image/jpeg">
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary py-3 px-5">Guardar</button>
        </div>

      </form>
      </div>
      </div>
      </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
