
    <%- include('../partials/header') %>
    <%# include('../partials/nav') %>
    <main>
      <section class="prod-list-wrapper container">

        <div class="prod-list">
              <div class="prod-list-title-section">
                <h1 class="prod-list-title title">LISTADO DE PRODUCTOS</h1>
                <div class="prod-list-add">
                  <button class="prod-list-add-button">
                    <a href="/admin/productos/create">
                      <i class="fa-solid fa-plus fa-xl">CREAR</i>
                    </a>
                  </button>
                </div>
              </div>

              <table class="prod-list-table">
                <thead>
                  <tr class="prod-list-row">
                    <th class="prod-list-row-item row-item-title">#</th>
                    <th class="prod-list-row-item row-item-title">Nombre</th>
                    <th class="prod-list-row-item row-item-title">Descripición</th>
                    <th class="prod-list-row-item row-item-title">Precio</th>
                    <th class="prod-list-row-item row-item-title">Imagen</th>
                    <th class="prod-list-row-item row-item-title">Editar</th>
                    <!-- <th class="prod-list-row-item row-item-title"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <% productos.forEach(producto => {%>
                    <tr class="prod-list-row">
                      <td class="prod-list-row-item row-item-added"><%= producto.id %></td>
                      <td class="prod-list-row-item row-item-added"><%= producto.nombre %></td>
                      <td class="prod-list-row-item row-item-added" style="font-size: 14px;" ><%- producto.description %></td>
                      <td class="prod-list-row-item row-item-added"><%= producto.precio %></td>
                      <td class="prod-list-row-item row-item-added"><img width="100" src="/uploads/productos/producto_<%= producto.id %>.jpg" alt="<%= producto.nombre %>"></td>
                      <td class="prod-list-row-item row-item-added"><a href="/admin/productos/<%= producto.id %>/edit">Editar</a> | 
                      <form
                        class="form-delete"
                        style="display: inline-block"
                        action="/admin/productos/<%= producto.id %>?_method=DELETE"
                        method="post"
                        <button type="submit">Borrar</button>
                      </form>
                    </td>
                    </tr>
                  <%}) %>
                </tbody>
              </table>
        </div>
      </section>
    </main>
    <%# include('../partials/footer') %>

    <script>
      document.addEventListener("click", (event) => {
        if (event.target.closest("form").classList.contains("form-delete")) {
          event.preventDefault();

          const borrar = confirm("¿Esta seguro?");

          if (borrar) {
            event.target.closest("form").submit();
          }
        }
      });
    </script>
  